button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border-radius: 3px;
	line-height: 1;
	padding: .6em 1em .4em;
    border: 0px;
    border-color: none;
    background: #ecce70;
    box-shadow: none;
    color: #fff;
    font-size: 12px;
    font-size: 1rem;
    text-shadow: none;

	&:hover {
		border-color: 0;
		background: #edd27e;
	}
}

.button-primary{
    
    font-size: .8rem!important;
}