html{
    height:100%;
    body{
        height:100%;
        min-height:100%;
        #page {
            max-width: 100%;
            margin: auto;
            min-height: 100%;
            display:table;
            width:100%;

            #content{
                max-width: 98%;
                margin: auto;
                padding-bottom: 2rem;
                height:100%;
                display:table;
                width:100%;
                color: #507972;
                
                .message-notification{
                    text-align: center;
                    height: 10px;
                    margin-top: -10px;
                }
                
                a{
                    color: #507972;
                }
                
                .user-wrapper{
                    
                    width:100%;
                
                    .user-information{
                        float: left;
                        max-width: 40%;
                        width: 100%;
                    }

                    .user-tools{
                        float: left;
                        max-width: 60%;
                        width: 100%;
                        
                        form{
                            
                            margin: 0px!important;
                            
                            input{
                                max-width: 600px;
                                width: 100%;
                                margin: 0px!important;



                                &[type='submit']{
                                    width: inherit;
                                    margin-top: .5rem!important;
                                }
                            }
                        }
                    }
                }
                
                .mymessages{
                    
                    margin-top: 1rem;
                    float:left;
                    
                    .message-section{
                    
                        max-width:1550px;
                        margin:auto;
                    }
                }
                
                .sow-slide-nav, .sow-slider-pagination
                {display: none!important;}
                
                #decmsgform{
                    max-width:400px;
                    margin-bottom: 1rem;
                    
                    #decmessage{
                        
                        font-size:13px;
                        margin-bottom: .5rem!important;
                    }
                }
                
                .mymessages{
                    
                    width: 100%;

                    ul.messages-ul{
                        width: 100%;
                        list-style: none;
                        padding-left: 0px;
                        margin-left: 0px;

                        li{
                            width: 100%;                        
                            border-bottom: lightgrey solid medium; 
                            margin-bottom: 1rem;
                            padding: 1rem;
                            
                            .message-user{
                                
                                font-weight: bold;
                                font-size: 18px;
                            }
                            
                            .message-date{
                                
                                font-size: 12px;
                                color: darkgrey;
                            }
                            
                            .view-message{
                                
                                input.read-message{
                                    
                                    background: grey;
                                }
                            }
                        }
                    }
                }
                
                .member-lists{
                    
                    width:102%;
                    background: #507972;
                    padding: 2rem;
                    float: left;
                    margin-left: -17px;
                    
                        .list-sections{

                            max-width:1550px;
                            margin:auto;
                            width:100%;
                            
                             .list-section-wrapper{
                                 
                                float:left;
                                width:31%;
                                margin-right: 2.2rem;
                                 
                                 h3{
                                    color:#fff; 
                                 }
                                 
                                 .friends, .od-my-list, .od-my-likes{
                                     
                                     ul{
                                         list-style: none;
                                         margin-left: -20px;
                                         
                                         li{
                                             float: left;
                                             margin:.5rem;
                                             max-width: 130px;
                                             overflow: hidden;
                                             
                                             input{
                                                 width: 130px;
                                                 font-size: 13px;
                                             }
                                             
                                             .dec-status{
                                                 
                                                 font-weight: bold;
                                                 font-size: 36px;
                                                 color: limegreen;
                                                 
                                             }
                                             
                                             .dec-image{
                                                 
                                                 img{
                                                     width: 100%;
                                                     max-width: 130px;
                                                 }
                                             }
                                             
                                             .dec-user{
                                                 
                                                font-weight: bold;
                                                font-size: 14px;
                                                width: 200px;
                                                overflow:hidden;
                                             }
                                             
                                         }
                                     }
                                 } 

                            .single-member-list{

                                width:100%;
                                background: #fff;
                                border-radius: 10px;
                                max-height: 400px;
                                overflow: auto;
                            
                            }
                        }
                    }
                }
            }

            header{
                width: 100%;
                background: #507972;
                background: -webkit-linear-gradient(#5c857e, #507972 50%); /* For Safari 5.1 to 6.0 */
                background: -o-linear-gradient(#5c857e, #507972 50%); /* For Opera 11.1 to 12.0 */
                background: -moz-linear-gradient(#5c857e, #507972 50%); /* For Firefox 3.6 to 15 */
                background: linear-gradient(#5c857e, #507972 50%); /* Standard syntax */
                display: table-header-group;

                section{
                    width: 100%;
                    max-width: 980px;
                    margin: auto;

                    #site-navigation{
                        color: #fff;
                        a{color: #fff; }
                    }



                    .site-branding{
                        float: left;
                        width: 63%;
                        padding-top: 1rem;
                        img.site-logo{ max-width: 170px; width: 100%; padding-top: -.7rem;}
                        img.site-logo-logged-in{
                            max-width: 115px; 
                            width: 100%; float: left;
                            padding-right: 1rem; 
                        }
                    }

                    .site-branding.loggedout{
                        width: 40%;
                    }
                }    

            }

            footer{

                background: #507972;
                height: 170px;
                display: table-footer-group;
                width:100%;  

                #menu-footer-menu{

                    list-style: none;
                    padding-left: 0px;
                    margin: .5rem 0px;

                    li{ 
                        a{ padding-right: .6rem; float: left; color: #ffffff; text-decoration: none; font-size: 12px;}
                    }

                }

                .footer-content-wrapper{
                    margin-top: .6rem;            
                    max-width: 75%;
                    margin:auto;
                }

                .site-info{
                    color: #fff;
                    margin: 1rem 0 3rem;
                    font-size: 10px;
                    width: 10%;
                    padding-top: 2rem;
                }
            }
        }
        .sticky {
            display: block;
        }

        .hentry {
            margin: 0 0 1.5em;
        }

        .byline,
        .updated:not(.published){
            display: none;
        }

        .single .byline,
        .group-blog .byline {
            display: inline;
        }

        .page-content,
        .entry-content,
        .entry-summary {
            margin: 1.5em 0 0;
        }

        .page-links {
            clear: both;
            margin: 0 0 1.5em;
        }
    }
}